{{>layouts/header}}

    <h1>후보자 정보 수정</h1>

    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="title">후보 번호</label>
                    <input type="text" class="form-control" id="id" value="{{candidate.id}}" readonly>
                    <!--candidate.id: 머스테치는 객체의 필드 접근 시 점(Dot)으로 구분, post 클래스의 id에 대한 접근-->
                    <!--readonly: input 태그에 읽기 기능만 허용, id는 수정할 수 없도록 읽기만 허용 -->
                </div>
                <div class="form-group">
                    <label for="department">학과</label>
                    <input type="text" class="form-control" id="department" value="{{candidate.department}}">
                </div>
                <div class="form-group">
                    <label for="candidate1">학회장</label>
                    <input type="text" class="form-control" id="candidate1" value="{{candidate.candidate1}}">
                </div>
                <div class="form-group">
                    <label for="candidate2">부학회장</label>
                    <input type="text" class="form-control" id="candidate2" value="{{candidate.candidate2}}">
                </div>
            </form>
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        </div>
    </div>

{{>layouts/footer}}