{{>layouts/header}}

    <h1>HSU Online Voting System</h1>
    <div class="col-md-12">
        <div class="col-md-6">
            <a href="candidate/save" role="button" class="btn btn-primary">후보자 등록</a>
            <a href="votelist" role="button" class="btn btn-primary">투표하기</a>
            <a href="vote-result" role="button" class="btn btn-primary">결과보기</a>
        </div>
        <br>
    </div>

{{>layouts/footer}}