{{>layouts/header}}

    <div>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>학과</th>
                <th>후보(학회장, 부학회장)</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#candidate}} <!--posts 라는 List를 순회 = java의 for문과 동일-->
            <tr>
                <td>{{id}}</td> <!--List에서 뽑아낸 객체의 필드를 사용-->
                <td><a href="/vote/{{id}}">{{department}}</a></td>
                <td>{{candidate1}}, {{candidate2}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
            {{/candidate}}
            </tbody>
        </table>
    </div>

{{>layouts/footer}}